attrs==21.2.0
flake8==3.9.2
iniconfig==1.1.1
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
plumbum==1.7.0
prompt-toolkit==3.0.18
py==1.10.0
pycodestyle==2.7.0
pyfiglet==0.8.post1
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
six==1.16.0
toml==0.10.2
wcwidth==0.2.5
